footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin-top: 100px;
}

.table-margin{
    margin-bottom: 100px !important;
}


main.container{
    margin-bottom: 150px !important;
}

.img-fluid{
    border-radius: 8px;
    height: 200px;
    width: 300px;
    transition: all 0.5s ease;
}
.img-fluid:hover{
    border-radius: 20px;
    height: 202px;
    width: 304px;
}
.img-fluid-small{
    border-radius: 8px;
    height: 100px;
    width: 150px;
}
